@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap')
*, *::before, *::after
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: 'Barlow', sans-serif
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
	display: block
body
	line-height: 1
ol, ul
	list-style: none;
blockquote, q
	quotes: none
blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none
table
	border-collapse: collapse
	border-spacing: 0
html, body, .App
	min-height: 100vh
* > ion-icon
	pointer-events: none

body
	background: linear-gradient(134.16deg, #151515 9.74%, #15101D 86.75%)

// Variables
$lsm__btn-accent-clr: #232029
$lsm__accent-clr: #6FCCD3

.fl
	display: flex

.fl-col
	flex-direction: column

.fl-row-cntr
	align-items: center

.fl-col-cntr
	justify-content: center

.fl-full-cntr
	align-items: center
	justify-content: center

.fl-jstf-between
	justify-content: space-between

.App-Link
	text-decoration: none

.App-Img
	pointer-events: none

.App-Btn
	border: none

	&:hover
		cursor: pointer

.App-SprLine
	margin-right: 40px
	width: 1px
	height: 18px
	background-color: #c4c4c4

.App-UI_rounded
	border-radius: 25px 0 25px 25px

// Header Section
.App-Header
	position: fixed
	left: 0
	top: 0
	padding: 0 100px
	width: 100%
	min-height: 100px
	height: 100px
	// backdrop-filter: blur(10px)
	// background-color: #3b3b3b50

.Header-Link
	font-size: 1.2rem
	letter-spacing: 0.02em
	text-shadow: 0 1px 2px rgba(0,0,0,.45)
	color: #fff

.Header-Links > .Header-Link:not(:last-child)
	margin-right: 40px

.Header-MenuList
	background-color: transparent

	& > ion-icon
		margin-top: 4px
		transition: transform .3s

	&:hover
		cursor: pointer

		& > ion-icon
			transform: rotate(-180deg)

.Header-MenuList
	&:hover .MenuList-Drop
		display: block
		visibility: visible

.MenuList-Label
	margin-right: 4px

.MenuList-Drop
	min-width: 200px
	display: none
	visibility: hidden
	position: absolute
	padding: 15px 10px
	border-radius: 6px
	backdrop-filter: blur(6px)
	box-shadow: 10px 30px 50px #00000070
	background-color: #232029ce

.Drop-Item
	transition: background-color .18s
	border-radius: 25px 0 25px 25px

	&:hover
		background-color: #6FCCD3

.Drop-ItemBtn
	width: 100%
	padding: 12px 30px
	border: none
	font-size: 1rem
	text-align: center
	color: #f7f7f7
	background-color: transparent

	&:hover
		cursor: pointer

.User-AvatarBox
	&:not(.Listeners-User)
		margin-right: 14px

	&:hover
		cursor: pointer

.User-Avatar
	border-radius: 50%
	outline: 2px solid #fff

.User-Username
	margin-bottom: 4px
	font-size: 1.2rem
	font-weight: 500
	color: #fff

.User-Uid
	font-size: 0.9rem
	color: #929292

.Header-MultiMenuButton
	padding: 8px 18px
	border-radius: 25px 0 25px 25px
	box-shadow: 1px 4px 10px #00000010
	color: #fff
	background-color: $lsm__btn-accent-clr

	&:not(:last-child)
		margin-right: 20px

.Header-MultiMenuButton>ion-icon
	font-size: 1.2rem

.AppContent
	min-height: 100vh

.Page-Pt
	padding: 0 100px

.Album-UserPoster
	margin: auto
	position: absolute
	top: -50px
	width: 60vw
	z-index: -100

.UserPoster-Poster
	position: absolute
	left: 0
	top: 0

.UserPoster-Img
	width: 100%
	object-fit: cover

.Profile-SideBar
	position: fixed
	width: 50px
	height: 100%
	gap: 10px

.SideBar-Btn
	width: 50px
	height: 50px
	border: none
	font-size: 1.3rem
	transition: width .3s
	color: $lsm__accent-clr
	background-color: $lsm__btn-accent-clr

	&:not(:hover)
		border-radius: 25px

	&:hover
		width: 200px
		cursor: pointer

		& .SideBar-Label,
		& > .SideBar-Counter
			display: block
			visibility: visible

.SideBar-LabelBox
	padding: 14px 0 0 14px

	& > ion-icon
		font-size: 1.3rem
		margin-right: 20px

	& > .SideBar-Label,
	& > .SideBar-Counter
		display: none
		visibility: hidden

.SideBar-Label
	display: none
	visibility: hidden
	white-space: nowrap
	font-size: 1rem
	color: #fff

.SideBar-Counter
	display: none
	visibility: hidden
	min-width: 50px
	height: 100%
	padding: 14px
	margin-left: auto
	border-radius: 25px 0
	font-weight: 500
	font-size: 1rem
	color: #fff
	background-color: #2F2B38

.AppFooter
	position: fixed
	left: 0
	bottom: 0
	width: 100vw
	height: 120px

.Footer-MusicPlayer
	height: 100%

.MusicPlayer-Controls
	gap: 10px
	margin: auto auto 20px auto

.MusicPlayer-ControlBtn
	border: none
	background-color: transparent

	& > ion-icon
		font-size: 2rem
		color: #fff

.MusicPlayer-ProgressBar
	position: relative
	width: 500px
	height: 17px
	margin: auto 14px

.ProgressBar-ProgressLine
	position: absolute
	left: 0
	top: 6px
	height: 4px
	border-radius: 2px

.ProgressBar-Drag
	width: 30%
	z-index: 100
	background-color: $lsm__accent-clr

.ProgressBar-Track
	width: 100%
	z-index: 90
	background-color: #221e28

.TimeIndicator
	font-size: 0.9rem
	color: #929292

.MusicPlayer-ControlBtn
	width: 50px
	height: 50px

	&:hover
		cursor: pointer

.MusicPlayer-VolumeIndicator
	width: 200px

.ProgressBar-VolumeIndicator
	margin-left: auto
	margin-top: 70px
	width: 100px

.Content-Component
	margin-left: 50px
	width: 100%

.Listeners-Label
	margin-bottom: 14px
	font-size: 1rem
	gap: 8px
	color: #929292

	& > ion-icon
		font-size: 1.1rem
		padding-top: 2px
		color: #78ff78

.Listeners-User
	&:not(:first-child)
		margin-left: -8px