@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap')
*, *::before, *::after
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: 'Barlow', sans-serif
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
	display: block
body
	line-height: 1
ol, ul
	list-style: none;
blockquote, q
	quotes: none
blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none
table
	border-collapse: collapse
	border-spacing: 0
html, body[data-fscrn=false], .App
	min-height: calc(100vh - 30px)
html, body[data-fscrn=true] .App
	min-height: 100vh

* > ion-icon
	pointer-events: none

body
	scroll-behavior: smooth
	background: linear-gradient(134.16deg, #151515 9.74%, #15101D 86.75%)
	background-attachment: fixed
	overflow: hidden

body::-webkit-scrollbar,
.ScrollBox::-webkit-scrollbar
  width: 4px
  height: 4px
  background-color: #232029

body::-webkit-scrollbar-thumb,
.ScrollBox::-webkit-scrollbar-thumb
  background-color: #6FCCD350

body::-webkit-scrollbar-thumb:hover,
.ScrollBox::-webkit-scrollbar-thumb:hover
  background-color: #6FCCD3

// Variables
$lsm__btn-accent-clr: #232029
$lsm__accent-clr: #6FCCD3

.fl
	display: flex

.fl-col
	flex-direction: column

.fl-row-cntr
	align-items: center

.fl-col-cntr
	justify-content: center

.fl-full-cntr
	align-items: center
	justify-content: center

.fl-jstf-between
	justify-content: space-between

.fl-jstf-around
	justify-content: space-around

.App-Link
	text-decoration: none

.App-Img
	pointer-events: none

.App-Btn
	border: none

	&:hover
		cursor: pointer

.App-SprLine
	margin-right: 40px
	width: 1px
	height: 18px
	background-color: #c4c4c4

.App-UI_rounded
	border-radius: 25px 0 25px 25px

.App-UI_always-on-top
	z-index: 9000

.AppElectron-TitleBar
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 30px
	z-index: 9999
	background-color: #18171a

	&.hidden
		display: none
		visibility: hidden

.TitleBar-DragArea
	width: 100%
	height: 100%
	-webkit-app-region: drag

.ActionsBar-ActBtn
	border: none
	font-size: 1.5rem
	padding: 3px 10px 0 10px
	transition: color .18s, background-color .18s
	color: #6e6e6e
	background-color: transparent

	&:hover
		cursor: pointer
		color: $lsm__accent-clr
		background-color: #252428

	&:focus
		outline: none

.ActionsBar-Close
	& > ion-icon
		transition: transform .3s

	&:hover
		& > ion-icon
			transform: rotate(90deg)
			color: #dd5b5b

body[data-fscrn=false]
	& .App
		margin-top: 30px
body[data-fscrn=true]
	& .App
		margin: 0

// Header Section
.App-Header
	position: fixed
	left: 0
	padding: 0 100px
	width: 100%
	min-height: 100px
	height: 100px
	z-index: 9000

body[data-fscrn=false]
	& .App-Header
		top: 30px
body[data-fscrn=true]
	& .App-Header
		top: 0

.Header-Link
	font-size: 1.2rem
	letter-spacing: 0.02em
	text-shadow: 0 1px 2px rgba(0,0,0,.45)
	color: #fff

.Header-Links > .Header-Link:not(:last-child)
	margin-right: 40px

.Header-MenuList
	background-color: transparent

	& > ion-icon
		margin-top: 4px
		transition: transform .3s

	&:hover
		cursor: pointer

		& > ion-icon
			transform: rotate(-180deg)

.Header-MenuList
	&:hover .MenuList-Drop
		display: block
		visibility: visible

.MenuList-Label
	margin-right: 4px

.MenuList-Drop
	min-width: 200px
	display: none
	visibility: hidden
	position: absolute
	padding: 15px 10px
	border-radius: 6px
	backdrop-filter: blur(6px)
	box-shadow: 10px 30px 50px #00000070
	background-color: #232029ce

.Drop-Item
	transition: background-color .18s
	border-radius: 25px 0 25px 25px

	&:hover
		background-color: #6FCCD3

.Drop-ItemBtn
	width: 100%
	padding: 12px 30px
	border: none
	font-size: 1rem
	text-align: center
	color: #f7f7f7
	background-color: transparent

	&:hover
		cursor: pointer

.User-AvatarBox
	&:not(.Listeners-User)
		margin-right: 14px

	&:hover
		cursor: pointer

.User-Avatar
	border-radius: 50%
	outline: 2px solid #fff

.User-Username
	margin-bottom: 4px
	font-size: 1.2rem
	font-weight: 500
	color: #fff

.User-Uid
	font-size: 0.9rem
	color: #929292

.Header-MultiMenuButton
	padding: 8px 18px
	border-radius: 25px 0 25px 25px
	box-shadow: 1px 4px 10px #00000010
	color: #fff
	background-color: $lsm__btn-accent-clr

	&:not(:last-child)
		margin-right: 20px

.Header-MultiMenuButton>ion-icon
	font-size: 1.2rem

.AppContent
	overflow: auto
	min-height: calc(100vh)

.Page-Pt
	padding: 0 100px

.App-Albums
	padding: 0 50px
	height: 100vh

.Album-ArtistPoster
	width: calc(100% - 50px)
	height: 50vh
	z-index: -100

.Album-Soundtracks
	margin-top: -100px
	height: 100vh
	clip-path: polygon(0 100px, 50% 0, 100% 0, 100% 100%, 0 100%)
	background-color: #111

.Album-Track
	position: absolute
	left: calc(50% - 100px)
	z-index: 2000
	margin-top: -200px
	width: 200px
	height: 200px

.Track-Img

.Track-Metadata
	margin-top: 14px
	text-align: center

.Track-Stats
	margin-top: 14px

.Track-AddLike
	font-size: 1rem
	border: none
	border-radius: 6px
	transition: background-color .3s
	color: #929292
	background-color: transparent

	&:hover
		cursor: pointer
		background-color: #23202940

	& > ion-icon[name=heart]
		color: #6FCCD3

.Track-ListeningCounter
	font-size: 1rem
	color: #929292

.Metadata-Counter
	padding: 10px 15px

	& > ion-icon
		font-size: 1.4rem
		margin-right: 6px

.Track-Title
	margin: 60px 0 10px 18px
	white-space: nowrap
	text-shadow: 0 1px 2px rgba(0,0,0,.45)
	color: #fff

	& p
		font-size: 1.25rem

	& span
		margin-right: 8px
		text-transform: uppercase
		font-size: 1.625rem
		font-weight: 100

.Album-AlbumName
	font-size: 1.1rem
	color: #929292

	& > span
		margin-right: 6px
		color: #fff

.ArtistPoster-Poster
	z-index: -1000
	height: 60vh

.ArtistPoster-Img
	width: 100%
	height: 100%
	object-fit: cover

.Artist-PersonalData
	width: 100%
	margin: 30px 0 20px 20px

.Artist-Username
	margin-right: 10px
	font-size: 1.5rem
	font-weight: 500
	color: #E4E4E4

.Artist-Verified
	padding-top: 6px
	font-size: 1.5rem
	color: $lsm__accent-clr

.Artist-Follow
	width: 140px
	height: 40px
	border: none
	font-size: 1.125rem
	color: #1b1b1b
	background-color: #6FCCD3

	&:hover
		cursor: pointer

.Profile-SideBarBox
	width: 50px
	height: 100vh

.Profile-SideBar
	position: fixed
	gap: 10px

.SideBar-Btn
	width: 50px
	height: 50px
	border: none
	font-size: 1.3rem
	transition: width .3s
	color: $lsm__accent-clr
	background-color: $lsm__btn-accent-clr

	&:not(:hover)
		border-radius: 25px

	&:hover
		width: 200px
		cursor: pointer

		& .SideBar-Label,
		& > .SideBar-Counter
			display: block
			visibility: visible

.SideBar-LabelBox
	padding: 14px 0 0 14px

	& > ion-icon
		font-size: 1.3rem
		margin-right: 20px

	& > .SideBar-Label,
	& > .SideBar-Counter
		display: none
		visibility: hidden

.SideBar-Label
	display: none
	visibility: hidden
	white-space: nowrap
	font-size: 1rem
	color: #fff

.SideBar-Counter
	display: none
	visibility: hidden
	min-width: 50px
	height: 100%
	padding: 14px
	margin-left: auto
	border-radius: 25px 0
	font-weight: 500
	font-size: 1rem
	color: #fff
	background-color: #2F2B38

.Listeners-Showcase
	width: 200px

.AppFooter
	position: fixed
	left: 0
	bottom: 0
	width: 100vw
	height: 120px

.Footer-MusicPlayer
	height: 100%

.MusicPlayer-Controls
	gap: 10px
	margin: auto auto 20px auto

.MusicPlayer-ControlBtn
	border: none
	background-color: transparent

	& > ion-icon
		font-size: 2rem
		color: #fff

.MusicPlayer-ProgressBar
	position: relative
	width: 500px
	height: 17px
	margin: auto 14px

.ProgressBar-ProgressLine
	position: absolute
	left: 0
	top: 6px
	height: 4px
	border-radius: 2px

.ProgressBar-Drag
	width: 30%
	z-index: 100
	background-color: $lsm__accent-clr

.ProgressBar-Track
	width: 100%
	z-index: 90
	background-color: #221e28

.TimeIndicator
	font-size: 0.9rem
	color: #929292

.MusicPlayer-ControlBtn
	width: 50px
	height: 50px

	&:hover
		cursor: pointer

.MusicPlayer-VolumeIndicator
	width: 200px

.ProgressBar-VolumeIndicator
	margin-left: auto
	margin-top: 70px
	width: 100px

.Content-Component
	// margin-left: 50px
	width: 100%

.Listeners-Label
	margin-bottom: 14px
	font-size: 1rem
	gap: 8px
	color: #929292

	& > ion-icon
		font-size: 1.1rem
		padding-top: 2px
		color: #78ff78

.Listeners-User
	&:not(:first-child)
		margin-left: -8px